*{
  margin: 0;
  border: 0;
}

.navContainer{
  display: flex;
  margin: 10px;
  margin-top: 20px;
  /* border: 2px solid red; */
  height: 40px;
  width: 98vw;
  align-items: center;
  justify-content: space-between;
}

#logo{
  margin-left: 20px;
  font-weight: 600;
  height: 30px;
  width: 100px;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  cursor: pointer;

}

#navComponents{
  font-weight: 600;
  display: flex;
  padding-right: 40px;
  padding-left: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  height: 30px;
  /* border: 2px solid blue; */
}

.navItems{
  cursor: pointer;
}



.Slider{
  margin-top: 4px;
  height: 89vh;
  width: 97.5vw;
  background-color: rgb(212, 189, 234);
  border-radius: 20px;

}

.slides{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 20px;

}

.slide{
  width: 100%;
  flex-shrink: 0;
  display: flex;
  /* transform: translate(-200%); */
  transition: all 1.5s ease-in-out;
}

.slide img{
  object-fit: cover;
  width: 40%;
  border: 2px solid red;

}

#btn{
  height: 50px;
  background-color: brown;
  margin: 10px;
  position: relative;
  bottom: 60%;
  border-radius: 50px ;
}
.titles{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left:40px ;
  margin-top: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 40%;

}











.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}