*{
  margin: 0;
  border: 0;
}

.navContainer{
  display: flex;
  margin: 10px;
  margin-top: 20px;
  /* border: 2px solid red; */
  height: 40px;
  width: 98vw;
  align-items: center;
  justify-content: space-between;
}

#logo{
  margin-left: 20px;
  font-weight: 600;
  height: 30px;
  width: 100px;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  cursor: pointer;

}

#navComponents{
  font-weight: 600;
  display: flex;
  padding-right: 40px;
  padding-left: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  height: 30px;
  /* border: 2px solid blue; */
}

.navItems{
  cursor: pointer;
}

.Slider{
  height: 89vh;
  width: 97.5vw;
  background-color: 	#9c9c9c7a;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.slides{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 20px;

}

.slide{
  width: 100%;
  flex-shrink: 0;
  display: flex;
  /* transform: translate(-200%); */
  transition: all 1.4s ease-in-out;
}

.slide img{
  object-fit: cover;
  width: 40%;
  /* border: 2px solid red; */

}

#rbtn{
  height: 100%;
  width: 60px;
  background-color: rgba(252, 238, 238, 0);
  position: relative;
  bottom: 200%;
  left: 95.72%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}


#lbtn{
  height: 100%;
  width: 60px;
  position: relative;
  bottom: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:all 1.5s ease-in-out;
  border-radius: 20px 0 0 20px;
}


#lbtn img{
  height: 20px;
  width: 20px;
  transition:all 1.5s ease-in-out;

}

#rbtn img{
  height: 20px;
  transition: 1.5s ease-in-out;
  width: 20px;
}

.titles h1{
  font-size: 100px;
  line-height: 110px;
  font-weight: 400;
}


.titles{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left:40px ;
  margin-top: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 40%;

}

.categories1{
  /* height: 100vh; */
  display: flex;
  justify-content: space-between;
  gap: 0.9rem;
  margin: 30px 18px 0 18px;
  /* border: 2px solid red; */
}

.category1Card {
  flex: 1;
  height: 58vh;
  position: relative;
  cursor: pointer;
  transition: all 1s ease-in;
  border-radius: 10px;
}

.info1{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00000090;
  border-radius: 10px;
}

.info1 h3{
  color: rgb(231, 231, 226);
  margin: 10px;
  font-size: 37px;
  letter-spacing: 7px;
  font-weight: 400;
}


.category1Card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;

}


.categories2{
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  margin: 14px 18px 0 18px;
}

.category2Card{
  flex: 1;
  position: relative;
  height: 47vh;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.8s ease-in;
}

.category2Card:hover{
  transform: scale(1.011);
  z-index: 2;
  /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.435); */
}
   
.category2Card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.info2{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000090;
  border-radius: 10px;
}

.info2 h3{
  color: rgb(231, 231, 226);
  margin: 10px;
  font-size: 37px;
  letter-spacing: 7px;
  font-weight: 400;
}

/* 
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
} */